.elementor-1261
  .elementor-element.elementor-element-265025e:not(.elementor-motion-effects-element-type-background),
.elementor-1261
  .elementor-element.elementor-element-265025e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #6db5d7;
}
.elementor-1261 .elementor-element.elementor-element-265025e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 13% 0% 10% 0%;
}
.elementor-1261
  .elementor-element.elementor-element-265025e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1261
  .elementor-element.elementor-element-265025e
  > .elementor-shape-bottom
  svg {
  width: calc(100% + 1.3px);
}
.elementor-1261
  .elementor-element.elementor-element-a51633e
  .elementor-spacer-inner {
  height: 30px;
}
.elementor-1261
  .elementor-element.elementor-element-8d73ebe
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1261
  .elementor-element.elementor-element-8d73ebe
  > .elementor-background-overlay {
  opacity: 0.07;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1261 .elementor-element.elementor-element-8d73ebe {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1261 .elementor-element.elementor-element-04cc0b1 img {
  width: 80%;
}
.elementor-1261 .elementor-element.elementor-element-ab4aa09 .elementor-button {
  background-color: var(--e-global-color-dcf5b2c);
  border-radius: 30px 30px 30px 30px;
}
.elementor-1261
  .elementor-element.elementor-element-ab4aa09
  .elementor-button:hover,
.elementor-1261
  .elementor-element.elementor-element-ab4aa09
  .elementor-button:focus {
  background-color: var(--e-global-color-186d3f4);
}
.elementor-1261
  .elementor-element.elementor-element-3f593dc
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-1261
  .elementor-element.elementor-element-b9923a2
  > .elementor-widget-container {
  margin: -30px 0px 0px 0px;
  border-style: solid;
}
.elementor-1261
  .elementor-element.elementor-element-cf7ad37
  .elementor-spacer-inner {
  height: 30px;
}
.elementor-1261
  .elementor-element.elementor-element-3ec83d1.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-1261 .elementor-element.elementor-element-27e1c78 .elementor-button {
  font-family: "Dosis", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #fea427;
  border-radius: 32px 32px 32px 32px;
  padding: 15px 45px 15px 45px;
}
.elementor-1261
  .elementor-element.elementor-element-27e1c78
  .elementor-button:hover,
.elementor-1261
  .elementor-element.elementor-element-27e1c78
  .elementor-button:focus {
  color: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-27e1c78
  .elementor-button:hover
  svg,
.elementor-1261
  .elementor-element.elementor-element-27e1c78
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-27e1c78
  > .elementor-widget-container {
  margin: 10px 10px 10px 10px;
}
.elementor-1261 .elementor-element.elementor-element-27e1c78 {
  width: auto;
  max-width: auto;
}
.elementor-1261 .elementor-element.elementor-element-4e8ee3f .elementor-button {
  font-family: "Dosis", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #fea427;
  border-radius: 32px 32px 32px 32px;
  padding: 15px 45px 15px 45px;
}
.elementor-1261
  .elementor-element.elementor-element-4e8ee3f
  .elementor-button:hover,
.elementor-1261
  .elementor-element.elementor-element-4e8ee3f
  .elementor-button:focus {
  color: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-4e8ee3f
  .elementor-button:hover
  svg,
.elementor-1261
  .elementor-element.elementor-element-4e8ee3f
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-4e8ee3f
  > .elementor-widget-container {
  margin: 10px 10px 10px 10px;
}
.elementor-1261 .elementor-element.elementor-element-4e8ee3f {
  width: auto;
  max-width: auto;
}
.elementor-1261 .elementor-element.elementor-element-bf075bc .elementor-button {
  font-family: "Dosis", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #fea427;
  border-radius: 32px 32px 32px 32px;
  padding: 15px 45px 15px 45px;
}
.elementor-1261
  .elementor-element.elementor-element-bf075bc
  .elementor-button:hover,
.elementor-1261
  .elementor-element.elementor-element-bf075bc
  .elementor-button:focus {
  color: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-bf075bc
  .elementor-button:hover
  svg,
.elementor-1261
  .elementor-element.elementor-element-bf075bc
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-bf075bc
  > .elementor-widget-container {
  margin: 10px 10px 10px 10px;
}
.elementor-1261 .elementor-element.elementor-element-bf075bc {
  width: auto;
  max-width: auto;
}
.elementor-1261 .elementor-element.elementor-element-cdab288 .elementor-button {
  font-family: "Dosis", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #fea427;
  border-radius: 32px 32px 32px 32px;
  padding: 15px 45px 15px 45px;
}
.elementor-1261
  .elementor-element.elementor-element-cdab288
  .elementor-button:hover,
.elementor-1261
  .elementor-element.elementor-element-cdab288
  .elementor-button:focus {
  color: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-cdab288
  .elementor-button:hover
  svg,
.elementor-1261
  .elementor-element.elementor-element-cdab288
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-cdab288
  > .elementor-widget-container {
  margin: 10px 10px 10px 10px;
}
.elementor-1261 .elementor-element.elementor-element-cdab288 {
  width: auto;
  max-width: auto;
}
.elementor-1261 .elementor-element.elementor-element-a02d34c .elementor-button {
  font-family: "Dosis", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #fea427;
  border-radius: 32px 32px 32px 32px;
  padding: 15px 45px 15px 45px;
}
.elementor-1261
  .elementor-element.elementor-element-a02d34c
  .elementor-button:hover,
.elementor-1261
  .elementor-element.elementor-element-a02d34c
  .elementor-button:focus {
  color: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-a02d34c
  .elementor-button:hover
  svg,
.elementor-1261
  .elementor-element.elementor-element-a02d34c
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-a02d34c
  > .elementor-widget-container {
  margin: 10px 10px 10px 10px;
}
.elementor-1261 .elementor-element.elementor-element-a02d34c {
  width: auto;
  max-width: auto;
}
.elementor-1261
  .elementor-element.elementor-element-81d719a
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-1261
  .elementor-element.elementor-element-e73be43.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-1261
  .elementor-element.elementor-element-37eeeff
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-37eeeff.elementor-view-stacked
  .elementor-icon {
  background-color: #0088cc;
}
.elementor-1261
  .elementor-element.elementor-element-37eeeff.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-37eeeff.elementor-view-default
  .elementor-icon {
  color: #0088cc;
  border-color: #0088cc;
}
.elementor-1261
  .elementor-element.elementor-element-37eeeff.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-37eeeff.elementor-view-default
  .elementor-icon
  svg {
  fill: #0088cc;
}
.elementor-1261 .elementor-element.elementor-element-37eeeff .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-37eeeff
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-37eeeff
  > .elementor-widget-container {
  padding: 10px 10px 10px 10px;
}
.elementor-1261 .elementor-element.elementor-element-37eeeff {
  width: auto;
  max-width: auto;
}
.elementor-1261
  .elementor-element.elementor-element-8050ca8
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-8050ca8.elementor-view-stacked
  .elementor-icon {
  background-color: #00acee;
}
.elementor-1261
  .elementor-element.elementor-element-8050ca8.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-8050ca8.elementor-view-default
  .elementor-icon {
  color: #00acee;
  border-color: #00acee;
}
.elementor-1261
  .elementor-element.elementor-element-8050ca8.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-8050ca8.elementor-view-default
  .elementor-icon
  svg {
  fill: #00acee;
}
.elementor-1261 .elementor-element.elementor-element-8050ca8 .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-8050ca8
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-8050ca8
  > .elementor-widget-container {
  padding: 10px 10px 10px 10px;
}
.elementor-1261 .elementor-element.elementor-element-8050ca8 {
  width: auto;
  max-width: auto;
}
.elementor-1261
  .elementor-element.elementor-element-26d95cd
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-26d95cd.elementor-view-stacked
  .elementor-icon {
  background-color: #4267b2;
}
.elementor-1261
  .elementor-element.elementor-element-26d95cd.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-26d95cd.elementor-view-default
  .elementor-icon {
  color: #4267b2;
  border-color: #4267b2;
}
.elementor-1261
  .elementor-element.elementor-element-26d95cd.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-26d95cd.elementor-view-default
  .elementor-icon
  svg {
  fill: #4267b2;
}
.elementor-1261 .elementor-element.elementor-element-26d95cd .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-26d95cd
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-26d95cd
  > .elementor-widget-container {
  padding: 10px 10px 10px 10px;
}
.elementor-1261 .elementor-element.elementor-element-26d95cd {
  width: auto;
  max-width: auto;
}
.elementor-1261
  .elementor-element.elementor-element-0e2130f
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-0e2130f.elementor-view-stacked
  .elementor-icon {
  background-color: #ff4301;
}
.elementor-1261
  .elementor-element.elementor-element-0e2130f.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-0e2130f.elementor-view-default
  .elementor-icon {
  color: #ff4301;
  border-color: #ff4301;
}
.elementor-1261
  .elementor-element.elementor-element-0e2130f.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-0e2130f.elementor-view-default
  .elementor-icon
  svg {
  fill: #ff4301;
}
.elementor-1261 .elementor-element.elementor-element-0e2130f .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-0e2130f
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-0e2130f
  > .elementor-widget-container {
  padding: 10px 10px 10px 10px;
}
.elementor-1261 .elementor-element.elementor-element-0e2130f {
  width: auto;
  max-width: auto;
}
.elementor-1261
  .elementor-element.elementor-element-bf3a688
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-bf3a688.elementor-view-stacked
  .elementor-icon {
  background-color: #010101;
}
.elementor-1261
  .elementor-element.elementor-element-bf3a688.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-bf3a688.elementor-view-default
  .elementor-icon {
  color: #010101;
  border-color: #010101;
}
.elementor-1261
  .elementor-element.elementor-element-bf3a688.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-bf3a688.elementor-view-default
  .elementor-icon
  svg {
  fill: #010101;
}
.elementor-1261 .elementor-element.elementor-element-bf3a688 .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-bf3a688
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-bf3a688
  > .elementor-widget-container {
  padding: 10px 10px 10px 10px;
}
.elementor-1261 .elementor-element.elementor-element-bf3a688 {
  width: initial;
  max-width: initial;
}
.elementor-1261
  .elementor-element.elementor-element-c66b341
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-c66b341.elementor-view-stacked
  .elementor-icon {
  background-color: #ff0000;
}
.elementor-1261
  .elementor-element.elementor-element-c66b341.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-c66b341.elementor-view-default
  .elementor-icon {
  color: #ff0000;
  border-color: #ff0000;
}
.elementor-1261
  .elementor-element.elementor-element-c66b341.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-c66b341.elementor-view-default
  .elementor-icon
  svg {
  fill: #ff0000;
}
.elementor-1261 .elementor-element.elementor-element-c66b341 .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-c66b341
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-c66b341
  > .elementor-widget-container {
  padding: 10px 10px 10px 10px;
}
.elementor-1261 .elementor-element.elementor-element-c66b341 {
  width: auto;
  max-width: auto;
}
.elementor-1261
  .elementor-element.elementor-element-1be4d0f
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-1be4d0f.elementor-view-stacked
  .elementor-icon {
  background-color: #e1306c;
}
.elementor-1261
  .elementor-element.elementor-element-1be4d0f.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-1be4d0f.elementor-view-default
  .elementor-icon {
  color: #e1306c;
  border-color: #e1306c;
}
.elementor-1261
  .elementor-element.elementor-element-1be4d0f.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-1be4d0f.elementor-view-default
  .elementor-icon
  svg {
  fill: #e1306c;
}
.elementor-1261 .elementor-element.elementor-element-1be4d0f .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-1be4d0f
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-1be4d0f
  > .elementor-widget-container {
  padding: 10px 10px 10px 10px;
}
.elementor-1261 .elementor-element.elementor-element-1be4d0f {
  width: auto;
  max-width: auto;
}
.elementor-1261
  .elementor-element.elementor-element-6bdef6c
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-6bdef6c.elementor-view-stacked
  .elementor-icon {
  background-color: #000000;
}
.elementor-1261
  .elementor-element.elementor-element-6bdef6c.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-6bdef6c.elementor-view-default
  .elementor-icon {
  color: #000000;
  border-color: #000000;
}
.elementor-1261
  .elementor-element.elementor-element-6bdef6c.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-6bdef6c.elementor-view-default
  .elementor-icon
  svg {
  fill: #000000;
}
.elementor-1261 .elementor-element.elementor-element-6bdef6c .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-6bdef6c
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-6bdef6c
  > .elementor-widget-container {
  padding: 10px 10px 10px 10px;
}
.elementor-1261 .elementor-element.elementor-element-6bdef6c {
  width: auto;
  max-width: auto;
}
.elementor-1261
  .elementor-element.elementor-element-713b8db
  .elementor-spacer-inner {
  height: 100px;
}
.elementor-1261
  .elementor-element.elementor-element-7ea2531
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1261 .elementor-element.elementor-element-7ea2531 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15% 0% 15% 0%;
}
.elementor-1261
  .elementor-element.elementor-element-7ea2531
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1261 .elementor-element.elementor-element-742b830 {
  text-align: center;
}
.elementor-1261 .elementor-element.elementor-element-6b1bc9c {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-6b1bc9c
  .elementor-heading-title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
}
.elementor-1261
  .elementor-element.elementor-element-c8d55e4
  .elementor-spacer-inner {
  height: 30px;
}
.elementor-bc-flex-widget
  .elementor-1261
  .elementor-element.elementor-element-73c3909.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1261
  .elementor-element.elementor-element-73c3909.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1261
  .elementor-element.elementor-element-73c3909.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-1261
  .elementor-element.elementor-element-2b5a63c
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-1261
  .elementor-element.elementor-element-b11af25
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1261 .elementor-element.elementor-element-9fc1868 .elementor-button {
  font-family: "Dosis", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 32px 32px 32px 32px;
  padding: 15px 45px 15px 45px;
}
.elementor-1261
  .elementor-element.elementor-element-9fc1868
  .elementor-button:hover,
.elementor-1261
  .elementor-element.elementor-element-9fc1868
  .elementor-button:focus {
  color: #ffffff;
  background-color: #ec6363;
}
.elementor-1261
  .elementor-element.elementor-element-9fc1868
  .elementor-button:hover
  svg,
.elementor-1261
  .elementor-element.elementor-element-9fc1868
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-c4a11e1:not(.elementor-motion-effects-element-type-background),
.elementor-1261
  .elementor-element.elementor-element-c4a11e1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-cc90091);
}
.elementor-1261 .elementor-element.elementor-element-c4a11e1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10% 0% 10% 0%;
}
.elementor-1261
  .elementor-element.elementor-element-c4a11e1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1261
  .elementor-element.elementor-element-d7394b6
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1261 .elementor-element.elementor-element-a1d2ce9 {
  text-align: center;
}
.elementor-1261 .elementor-element.elementor-element-0cca9a8 {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-dcdcd2d
  > .elementor-widget-container {
  padding: 0% 10% 0% 10%;
}
.elementor-1261
  .elementor-element.elementor-element-d62fb90
  > .elementor-widget-container {
  margin: 0px 10px 0px 10px;
}
.elementor-1261
  .elementor-element.elementor-element-6b680e8:not(.elementor-motion-effects-element-type-background),
.elementor-1261
  .elementor-element.elementor-element-6b680e8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../goldendoge.finance/wp-content/uploads/2021/01/funfair-sectionbg2-2.html");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1261 .elementor-element.elementor-element-6b680e8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10% 0% 10% 0%;
}
.elementor-1261
  .elementor-element.elementor-element-6b680e8
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1261 .elementor-element.elementor-element-2d710e4 {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-7b472fe
  > .elementor-element-populated {
  margin: 30px 0px 0px 0px;
  padding: 0% 8% 0% 8%;
}
.elementor-1261 .elementor-element.elementor-element-87c4317 {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-87c4317
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1261
  .elementor-element.elementor-element-df3909e
  > .elementor-element-populated {
  margin: 30px 0px 0px 0px;
  padding: 0% 8% 0% 8%;
}
.elementor-1261 .elementor-element.elementor-element-beebe21 {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-beebe21
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1261
  .elementor-element.elementor-element-45e5c5c
  > .elementor-element-populated {
  margin: 30px 0px 0px 0px;
  padding: 0% 8% 0% 8%;
}
.elementor-1261 .elementor-element.elementor-element-fda77a6 img {
  width: 90%;
}
.elementor-1261 .elementor-element.elementor-element-a4e03a5 {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-a4e03a5
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1261
  .elementor-element.elementor-element-f4b2cfa:not(.elementor-motion-effects-element-type-background),
.elementor-1261
  .elementor-element.elementor-element-f4b2cfa
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #6db5d7;
}
.elementor-1261
  .elementor-element.elementor-element-f4b2cfa
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1261 .elementor-element.elementor-element-f4b2cfa {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 15% 0% 15% 0%;
}
.elementor-1261
  .elementor-element.elementor-element-f4b2cfa
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: var(--e-global-color-cc90091);
}
.elementor-1261 .elementor-element.elementor-element-77377ec {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-7467721:not(.elementor-motion-effects-element-type-background),
.elementor-1261
  .elementor-element.elementor-element-7467721
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-cc90091);
}
.elementor-1261 .elementor-element.elementor-element-7467721 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10% 0% 0% 0%;
}
.elementor-1261
  .elementor-element.elementor-element-7467721
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1261
  .elementor-element.elementor-element-f638347
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1261 .elementor-element.elementor-element-cfc7264 {
  text-align: center;
}
.elementor-1261 .elementor-element.elementor-element-33d2c3b {
  text-align: left;
}
.elementor-1261 .elementor-element.elementor-element-400b177 .elementor-button {
  font-family: "Dosis", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 32px 32px 32px 32px;
  padding: 15px 45px 15px 45px;
}
.elementor-1261
  .elementor-element.elementor-element-400b177
  .elementor-button:hover,
.elementor-1261
  .elementor-element.elementor-element-400b177
  .elementor-button:focus {
  color: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-400b177
  .elementor-button:hover
  svg,
.elementor-1261
  .elementor-element.elementor-element-400b177
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-c8eeae8:not(.elementor-motion-effects-element-type-background),
.elementor-1261
  .elementor-element.elementor-element-c8eeae8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-cc90091);
}
.elementor-1261 .elementor-element.elementor-element-c8eeae8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10% 0% 10% 0%;
}
.elementor-1261
  .elementor-element.elementor-element-c8eeae8
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1261
  .elementor-element.elementor-element-a0683ab
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1261
  .elementor-element.elementor-element-a0683ab
  > .elementor-container {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-e4ae20c
  > .elementor-element-populated {
  padding: 0% 5% 0% 5%;
}
.elementor-1261 .elementor-element.elementor-element-91bd223 img {
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.09);
}
.elementor-1261
  .elementor-element.elementor-element-91bd223
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1261
  .elementor-element.elementor-element-9c92301
  > .elementor-element-populated {
  margin: -0px 0px 0px 0px;
  padding: 0% 5% 0% 5%;
}
.elementor-1261
  .elementor-element.elementor-element-3459786
  .elementor-spacer-inner {
  height: 1px;
}
.elementor-1261 .elementor-element.elementor-element-396094a .elementor-button {
  font-family: "Dosis", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 32px 32px 32px 32px;
  padding: 15px 45px 15px 45px;
}
.elementor-1261
  .elementor-element.elementor-element-396094a
  .elementor-button:hover,
.elementor-1261
  .elementor-element.elementor-element-396094a
  .elementor-button:focus {
  color: #ffffff;
  background-color: #ec6363;
}
.elementor-1261
  .elementor-element.elementor-element-396094a
  .elementor-button:hover
  svg,
.elementor-1261
  .elementor-element.elementor-element-396094a
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-1261
  .elementor-element.elementor-element-e7df30f:not(.elementor-motion-effects-element-type-background),
.elementor-1261
  .elementor-element.elementor-element-e7df30f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-0c46c95);
}
.elementor-1261
  .elementor-element.elementor-element-e7df30f
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1261 .elementor-element.elementor-element-e7df30f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15% 0% 15% 0%;
}
.elementor-1261
  .elementor-element.elementor-element-e7df30f
  > .elementor-shape-top
  .elementor-shape-fill {
  fill: var(--e-global-color-cc90091);
}
.elementor-1261 .elementor-element.elementor-element-d9c9671 {
  text-align: center;
}
.elementor-1261 .elementor-element.elementor-element-ee9d2b3 {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-53b800c
  .elementor-spacer-inner {
  height: 30px;
}
.elementor-1261
  .elementor-element.elementor-element-673cac1
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-673cac1.elementor-view-stacked
  .elementor-icon {
  background-color: #00acee;
}
.elementor-1261
  .elementor-element.elementor-element-673cac1.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-673cac1.elementor-view-default
  .elementor-icon {
  color: #00acee;
  border-color: #00acee;
}
.elementor-1261
  .elementor-element.elementor-element-673cac1.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-673cac1.elementor-view-default
  .elementor-icon
  svg {
  fill: #00acee;
}
.elementor-1261 .elementor-element.elementor-element-673cac1 .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-673cac1
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-5fc14d9
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-5fc14d9.elementor-view-stacked
  .elementor-icon {
  background-color: #0088cc;
}
.elementor-1261
  .elementor-element.elementor-element-5fc14d9.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-5fc14d9.elementor-view-default
  .elementor-icon {
  color: #0088cc;
  border-color: #0088cc;
}
.elementor-1261
  .elementor-element.elementor-element-5fc14d9.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-5fc14d9.elementor-view-default
  .elementor-icon
  svg {
  fill: #0088cc;
}
.elementor-1261 .elementor-element.elementor-element-5fc14d9 .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-5fc14d9
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-c61f5b2
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-c61f5b2.elementor-view-stacked
  .elementor-icon {
  background-color: #4267b2;
}
.elementor-1261
  .elementor-element.elementor-element-c61f5b2.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-c61f5b2.elementor-view-default
  .elementor-icon {
  color: #4267b2;
  border-color: #4267b2;
}
.elementor-1261
  .elementor-element.elementor-element-c61f5b2.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-c61f5b2.elementor-view-default
  .elementor-icon
  svg {
  fill: #4267b2;
}
.elementor-1261 .elementor-element.elementor-element-c61f5b2 .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-c61f5b2
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-d2bad3c
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-d2bad3c.elementor-view-stacked
  .elementor-icon {
  background-color: #ff4301;
}
.elementor-1261
  .elementor-element.elementor-element-d2bad3c.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-d2bad3c.elementor-view-default
  .elementor-icon {
  color: #ff4301;
  border-color: #ff4301;
}
.elementor-1261
  .elementor-element.elementor-element-d2bad3c.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-d2bad3c.elementor-view-default
  .elementor-icon
  svg {
  fill: #ff4301;
}
.elementor-1261 .elementor-element.elementor-element-d2bad3c .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-d2bad3c
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-c772e82
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-c772e82.elementor-view-stacked
  .elementor-icon {
  background-color: #010101;
}
.elementor-1261
  .elementor-element.elementor-element-c772e82.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-c772e82.elementor-view-default
  .elementor-icon {
  color: #010101;
  border-color: #010101;
}
.elementor-1261
  .elementor-element.elementor-element-c772e82.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-c772e82.elementor-view-default
  .elementor-icon
  svg {
  fill: #010101;
}
.elementor-1261 .elementor-element.elementor-element-c772e82 .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-c772e82
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-c5c6490
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-c5c6490.elementor-view-stacked
  .elementor-icon {
  background-color: #ff0000;
}
.elementor-1261
  .elementor-element.elementor-element-c5c6490.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-c5c6490.elementor-view-default
  .elementor-icon {
  color: #ff0000;
  border-color: #ff0000;
}
.elementor-1261
  .elementor-element.elementor-element-c5c6490.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-c5c6490.elementor-view-default
  .elementor-icon
  svg {
  fill: #ff0000;
}
.elementor-1261 .elementor-element.elementor-element-c5c6490 .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-c5c6490
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-f24bfb3
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-f24bfb3.elementor-view-stacked
  .elementor-icon {
  background-color: #e1306c;
}
.elementor-1261
  .elementor-element.elementor-element-f24bfb3.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-f24bfb3.elementor-view-default
  .elementor-icon {
  color: #e1306c;
  border-color: #e1306c;
}
.elementor-1261
  .elementor-element.elementor-element-f24bfb3.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-f24bfb3.elementor-view-default
  .elementor-icon
  svg {
  fill: #e1306c;
}
.elementor-1261 .elementor-element.elementor-element-f24bfb3 .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-f24bfb3
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-3b8388f
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-3b8388f.elementor-view-stacked
  .elementor-icon {
  background-color: #000000;
}
.elementor-1261
  .elementor-element.elementor-element-3b8388f.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-3b8388f.elementor-view-default
  .elementor-icon {
  color: #000000;
  border-color: #000000;
}
.elementor-1261
  .elementor-element.elementor-element-3b8388f.elementor-view-framed
  .elementor-icon,
.elementor-1261
  .elementor-element.elementor-element-3b8388f.elementor-view-default
  .elementor-icon
  svg {
  fill: #000000;
}
.elementor-1261 .elementor-element.elementor-element-3b8388f .elementor-icon i,
.elementor-1261
  .elementor-element.elementor-element-3b8388f
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-1261
  .elementor-element.elementor-element-2b2792d:not(.elementor-motion-effects-element-type-background),
.elementor-1261
  .elementor-element.elementor-element-2b2792d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../goldendoge.finance/wp-content/uploads/2021/01/funfair-sectionbg2-2.html");
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1261 .elementor-element.elementor-element-2b2792d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10% 0% 10% 0%;
}
.elementor-1261
  .elementor-element.elementor-element-2b2792d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1261 .elementor-element.elementor-element-43b8c62 {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-4c47484
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-1261 .elementor-element.elementor-element-9fde2f7 img {
  width: 100px;
}
.elementor-1261 .elementor-element.elementor-element-47a3769 img {
  width: 100px;
}
.elementor-1261 .elementor-element.elementor-element-5c6c8d3 img {
  width: 100px;
}
.elementor-1261 .elementor-element.elementor-element-f3008de img {
  width: 100px;
}
.elementor-1261 .elementor-element.elementor-element-dd1b2c3 img {
  width: 100px;
}
.elementor-1261 .elementor-element.elementor-element-e229a8a img {
  width: 100px;
}
.elementor-1261 .elementor-element.elementor-element-6665390 img {
  width: 100px;
}
.elementor-1261 .elementor-element.elementor-element-509722d img {
  width: 100px;
}
.elementor-1261 .elementor-element.elementor-element-b0e8c5a img {
  width: 100px;
}
.elementor-1261
  .elementor-element.elementor-element-f332354:not(.elementor-motion-effects-element-type-background),
.elementor-1261
  .elementor-element.elementor-element-f332354
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-0c46c95);
}
.elementor-1261
  .elementor-element.elementor-element-f332354
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1261 .elementor-element.elementor-element-f332354 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15% 0% 15% 0%;
}
.elementor-1261 .elementor-element.elementor-element-90033dc {
  text-align: center;
}
.elementor-1261
  .elementor-element.elementor-element-b0d9478
  .elementor-tab-title {
  border-width: 0px;
}
.elementor-1261
  .elementor-element.elementor-element-b0d9478
  .elementor-tab-content {
  border-width: 0px;
}
.elementor-1261
  .elementor-element.elementor-element-b0d9478
  .elementor-toggle-title,
.elementor-1261
  .elementor-element.elementor-element-b0d9478
  .elementor-toggle-icon {
  color: #4d160f;
}
.elementor-1261
  .elementor-element.elementor-element-b0d9478
  .elementor-tab-title.elementor-active
  a,
.elementor-1261
  .elementor-element.elementor-element-b0d9478
  .elementor-tab-title.elementor-active
  .elementor-toggle-icon {
  color: #4d160f;
}
@media (min-width: 768px) {
  .elementor-1261 .elementor-element.elementor-element-07fc8d1 {
    width: 50.338%;
  }
  .elementor-1261 .elementor-element.elementor-element-876cb01 {
    width: 49.662%;
  }
  .elementor-1261 .elementor-element.elementor-element-a27ccce {
    width: 56.104%;
  }
  .elementor-1261 .elementor-element.elementor-element-73c3909 {
    width: 43.896%;
  }
  .elementor-1261 .elementor-element.elementor-element-dc9901b {
    width: 44.492%;
  }
  .elementor-1261 .elementor-element.elementor-element-b27aa19 {
    width: 55.508%;
  }
}
@media (max-width: 767px) {
  .elementor-1261 .elementor-element.elementor-element-265025e {
    padding: 0% 0% 10% 0%;
  }
  .elementor-1261 .elementor-element.elementor-element-592b770 img {
    width: 65%;
  }
  .elementor-1261
    .elementor-element.elementor-element-d62fb90
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-1261
    .elementor-element.elementor-element-7b472fe
    > .elementor-element-populated {
    margin: 0px 0px 50px 0px;
  }
  .elementor-1261 .elementor-element.elementor-element-87c4317 {
    text-align: center;
  }
  .elementor-1261
    .elementor-element.elementor-element-87c4317
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-1261
    .elementor-element.elementor-element-df3909e
    > .elementor-element-populated {
    margin: 0px 0px 50px 0px;
  }
  .elementor-1261 .elementor-element.elementor-element-beebe21 {
    text-align: center;
  }
  .elementor-1261
    .elementor-element.elementor-element-beebe21
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-1261
    .elementor-element.elementor-element-45e5c5c
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-1261 .elementor-element.elementor-element-a4e03a5 {
    text-align: center;
  }
  .elementor-1261
    .elementor-element.elementor-element-a4e03a5
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-1261 .elementor-element.elementor-element-ec2a05a {
    text-align: center;
  }
  .elementor-1261 .elementor-element.elementor-element-b8b989d {
    width: 33%;
  }
  .elementor-1261 .elementor-element.elementor-element-9643bf8 {
    width: 33%;
  }
  .elementor-1261 .elementor-element.elementor-element-5b89f57 {
    width: 33%;
  }
  .elementor-1261 .elementor-element.elementor-element-0acacf4 {
    width: 33%;
  }
  .elementor-1261 .elementor-element.elementor-element-7dad929 {
    width: 33%;
  }
  .elementor-1261 .elementor-element.elementor-element-7cddaf3 {
    width: 33%;
  }
  .elementor-1261 .elementor-element.elementor-element-341c924 {
    width: 33%;
  }
  .elementor-1261 .elementor-element.elementor-element-2f5406a {
    width: 33%;
  }
  .elementor-1261 .elementor-element.elementor-element-efe9618 {
    width: 50%;
  }
  .elementor-1261 .elementor-element.elementor-element-9fde2f7 img {
    width: 60%;
  }
  .elementor-1261 .elementor-element.elementor-element-17ea257 {
    width: 50%;
  }
  .elementor-1261 .elementor-element.elementor-element-47a3769 img {
    width: 60%;
  }
  .elementor-1261 .elementor-element.elementor-element-e90e908 {
    width: 50%;
  }
  .elementor-1261 .elementor-element.elementor-element-5c6c8d3 img {
    width: 60%;
  }
  .elementor-1261 .elementor-element.elementor-element-7cafdc2 {
    width: 50%;
  }
  .elementor-1261 .elementor-element.elementor-element-f3008de img {
    width: 60%;
  }
  .elementor-1261 .elementor-element.elementor-element-5eed8ae {
    width: 50%;
  }
  .elementor-1261 .elementor-element.elementor-element-dd1b2c3 img {
    width: 60%;
  }
  .elementor-1261 .elementor-element.elementor-element-1ef0d78 {
    width: 50%;
  }
  .elementor-1261 .elementor-element.elementor-element-e229a8a img {
    width: 60%;
  }
  .elementor-1261 .elementor-element.elementor-element-05c6eb6 {
    width: 50%;
  }
  .elementor-1261 .elementor-element.elementor-element-2357cf2 {
    width: 50%;
  }
  .elementor-1261 .elementor-element.elementor-element-6665390 img {
    width: 60%;
  }
  .elementor-1261 .elementor-element.elementor-element-d1827e3 {
    width: 50%;
  }
  .elementor-1261 .elementor-element.elementor-element-509722d img {
    width: 60%;
  }
  .elementor-1261 .elementor-element.elementor-element-1839fc0 {
    width: 50%;
  }
  .elementor-1261 .elementor-element.elementor-element-b0e8c5a img {
    width: 60%;
  }
  .elementor-1261 .elementor-element.elementor-element-acea1e3 {
    width: 50%;
  }
}
